/*====================================================================================
======================================================================================
======================================================================================*/
/*団体訓の設定*/
.about{
    background-color: rgb(233, 233, 233);
    margin-bottom: 15px;
}
h1{
    text-align: center;
    font-size: 55px;
    color:rgb(71, 71, 71);
    font-weight:700;
}
.about .fmozi{
    font-size: 60px;
    font-weight: bolder;
}
.about .EDTCs{
    padding-left: 3%;
    font-size: 40px;
    display: block;
}
.about .manabu1{
    font-size: 20px;
    padding: 3%;
    text-align: left;
}
.about .EDTCcode{
    font-size: 20px;
    padding-left: 3%;
    font-weight: bold;
}
.EDTCcodepc{
    font-size: 20px;
    padding-left: 3%;
    display: block;
    font-weight: 549;
}

.EDTCmovie{
    width: 90%; 
    height:"auto";
    margin:0 5% 2% 5%;
}

/*====================================================================================
======================================================================================
======================================================================================*/
/* newsの設定 */
.news{
    background-color: rgb(248, 247, 243);

}
.news h2{
    padding-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(121, 139, 146);
}
.news ul {
    display:contents;
}
.news li{
    margin:10px 40px 0px 40px;
    font-size: 20px;
    border-bottom:1px solid #515050;
}
.itiran{
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 4% 0px 0;
}
/*====================================================================================
======================================================================================
======================================================================================*/
/* 幾徳祭用の設定 */
.ikutokusai{
    background-color: #22b5c5;
    font-size: 20px;
    display: block;
}
.ikutokusai .ikutokutitle{
    text-align: center;
    font-size: 40px;
    color: #edb81a;
    font-weight: bold;
    padding: 5%;
}
.ikutokusai p{
    text-align: left;
    color: #edb81a;
    padding: 10%;
}
.ikutokusai img{
    width: 100%;
}
@media screen and (min-width:820px) {
    .ikutokusai{
        display: flex;
    }
    .ikutokusai p{
        padding: 5%;
    }
}
