
/* 前提としてタグの書き方　.エリア名　.関数名{}とする */
body {
    background-color: #e6e6e6;
    /* background-color: 名前の通り背景色を指定 */
}
section {
    margin: 3% 0;
}
section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#reset {
    color:#000;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10%;
    text-align: right;
}
.author{
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}
.blog-body{
    display: flex;
}
.blog-title{
    margin:0 10% 0 10%;
    margin-top: 5%;
    font-size: 3vb;
    font-weight: bold;
}
.blog-date{
    margin-left: 10%;
    font-size: 1rem;
}
.blog-main{
    margin-left: 10%;
    width: 80%;
}
@media screen and (min-width:820px) {
    .blog-main{
        margin-left: 20%;
        width: 60%;
    }
    .blog-title{
        margin:0 20% 0 20%;
        margin-top: 5%;
        font-size: 3vb;
        font-weight: bold;
    }
    .blog-date{
        margin-left: 20%;
        font-size: 1rem;
    }
}

@media screen and (max-width:480px) {
    section {
        margin: 9% 0;
    }
    section img {
        object-fit: unset;
        object-position: unset;
        border: unset;
        width: 100%;
        height: auto;
    }
}
.side-menu{
    width: 100%;
}
.side-menu .Archives{
    width: 100%;
    text-align: center;
}
.side-menu .Archives ul{
    display: block;
}
main .pc-only{
    width: 20%;
}
