/* ======あさひ学苑====== */
.asahi-flex {
    display: flex;
}
.asahi-flex .asahi-box {
    width: 33%;
}
@media screen and (max-width: 767px) {
    .asahi-flex {
        display: block;
    }
    .asahi-flex .asahi-box {
        width: 100%;
        margin: 0 auto;
    }
}