/* Noto Sans JPのインポート */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
* {
    font-family: "Noto Sans JP", sans-serif;
}

:root {
    --main-color: #0a8cd8;
    --bg-color: #e6e6e6;
    --bg-color-2: #F8F7F3;
    --item-color: #F8F7F3;
    --breadcrumbs-hover-color: #cfcecb;
}

.anim-fadein {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
