body {
    background: #F8F7F3;
}

/* プルダウンリストとその説明文のコンテナ */
.sortBox {
    margin-top: 2%;
    text-align: right;
}

.sortBox .pdct-arngmnt {
    padding: 0.3%;
    width: fit-content;
    margin-right: 2%;
}

/* ul */
.pdct-container {
    /* border: 1px solid #55555555; */
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0;
}

@media (max-width: 1430px) {
    .pdct-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .pdct-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .pdct-container {
        grid-template-columns: 1fr;
    }
}

/* li */
.pdct-contents {
    border-radius: 3%;
    border-top: none;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pdct-contents:hover {
    transform: translateY(-5px);
    /* ボーダーを青くするやつ */
    /* border: 2px solid rgb(52, 152, 219); */
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.5);
}

/* 画像と詳細のコンテナ */
.pdct-box {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* img */
.pdct-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 2% 2% 0 0;
}

/* pdct-name, pdct-price, pdct-makerを含むコンテナ */
.pdct-details {
    text-align: center;
    font-size: 1.0em;
    background-color: #F8F7F3;
}

.pdct-name {
    font-size: 1.2em;
    display: inline-block;
}

/* 商品名の下の疑似要素をホバー時に表示するやつ
.pdct-contents:hover .pdct-name::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    margin: 1% 0;
    transition: background-color 0.3s ease;
} */

