main {
    width: 100%;
    background: #F8F7F3;
    font-family: YakuHanJP_Noto,"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
}
.pdct-box {
    padding: 5%;
}
    /* 商品概要 スタート */

    .pdct-overview {
        text-align: center;
        padding: 0 0 5% 0;
    }
    .pdct-overview h2 {
        font-size: 35px;
        padding: 0 0 2% 0;
    }
    .pdct-overview p {
        font-size: 20px;
        font-weight: bold;
    }

    /* 商品概要 エンド */

    /* 水平棒 */
    .pdct-box hr {
        border-top: 1px solid #26211e;
    }

    /* 商品コスト スタート */

    .pdct-cost {
        text-align: center;
        padding: 5% 0 0 0;
    }
    .pdct-cost img {
        width: 13%;
        height: 13%;
        padding: 0 0 2% 0;
        object-fit: cover;
    }
    .pdct-cost 
    .cost-price, .cost-customers, .cost-time {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
    }
    .pdct-cost span {
        font-size: 25px;
    }
    .pdct-cost p {
        font-weight: initial;
    }

    /* 商品コスト　エンド */

    /* コンタクトボタン スタート */

    .pdct-contact {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .pdct-contact input {
        margin: 0 1%;
    }

    /* コンタクトボタン エンド */
