DB_DSN=
DB_USERNAME=
DB_PASSWORD=
JSON_CREDENTIALS_PATH=
CALENDAR_ID=
CALENDAR_URL=
API_KEY=none
CLIENT_EMAIL=none

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=test
MYSQL_USER=user
MYSQL_PASSWORD=password

PMA_HOST=db
PMA_USER=root
PMA_PASSWORD=root
