/* Noto Sans JPのインポート */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
* {
    font-family: "Noto Sans JP", sans-serif;
}

:root {
    --main-color: #0a8cd8;
    --bg-color: #e6e6e6;
    --item-color: #F8F7F3;
    --breadcrumbs-hover-color: #cfcecb;
}
