.flex p{
    margin: 0 auto; /*Added Programs*/
    text-align: center;
}
.flex a{
    margin: 0 auto; 
    text-align: center;
    color: antiquewhite;
}
footer .footer-list {
    display: block;
    margin: 0 auto;
}

footer .gyou{
    margin-top: 5px;
}

footer .gyou-a{
    margin-top: 15px;
}

footer .gyou-b{
    margin-top: 3px;
}

footer .syasinn{
    vertical-align: text-bottom;
}